# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Folders
/results/
datasets/
outputs/
checkpoints/
sigmadock_env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
var/
*.egg-info/
.installed.cfg
*.egg
*.zip
*.tar.gz
MANIFEST

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# Flask stuff:
instance/
.webassets-cache

# other stuff
todo.py
wandb/
artifacts/
.vscode/
*cache/
# *.pt

# Jupyter Notebook
.ipynb_checkpoints

# Runs & Data
/data/
runs/
/experiments/
tmp/
.cache_igso3/

# IPython
profile_default/
ipython_config.py
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
